.splash-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Black, #000);
  text-align: center;

  transition: opacity 0.5s ease-out;
}

.splash-container.fade-out {
  opacity: 0;
  pointer-events: none;
}

.splashText {
  width: 118px;
  height: 58px;
}
