.mypage-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: var(--Gray-50, #f9fafb);
}

.nameTitle {
  color: var(--Black, #000);
  text-align: center;
  padding-bottom: 8px;

  /* Subtitle/semibold01 */
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 28px */
}

.subTitle {
  display: flex;
  margin: 0 auto;
  height: 32px;
  width: 92px;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 20px;
  background: var(--White, #fff);
  color: var(--Gray-500, #4b5563);
  text-align: center;

  /* Body/medium02 */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
}

.box1 {
  display: flex;
  margin-top: 20px;
  height: 104px;
  padding: 20px 0 10px 20px;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
  align-self: stretch;
  border-radius: 15px;
  background: var(--White, #fff);
}

.box1-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 8px;
}

.box2 {
  display: flex;
  margin-top: 17px;
  padding: 10px 0 10px 20px;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
  align-self: stretch;
  border-radius: 15px;
  background: var(--White, #fff);
}

.boxTitle {
  align-self: stretch;
  color: var(--Black, #000);
  padding: 2px 0;
  margin-bottom: 5px;

  /* Subtitle/semibold03 */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 17.6px */
}

.boxText {
  color: var(--Black, #000);
  text-align: center;
  padding: 5px 0;

  /* Body/medium02 */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
}

.detailIcon1 {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

/* 팝업 */
.popup-overlay {
  position: fixed;
  inset: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
}

.popupBox {
  display: flex;
  box-sizing: border-box;
  width: 318px;
  padding: 30px 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 30px;
  background: var(--White, #fff);
  box-shadow: 0 8px 8px -4px rgba(16, 24, 40, 0.04),
    0 20px 24px var(---4, -4px) rgba(16, 24, 40, 0.1);
}

.popupTitle {
  color: var(--Gray-600, #1f2937);

  /* Title/bold03 */
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 25.2px */
}

.popupText {
  color: var(--Gray-500, #4b5563);

  /* Body/medium02 */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-top: 0;
  padding: 10px 0 3px 0;
}

.cancelBtn {
  display: flex;
  width: 64px;
  padding: 14px 0;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 100px;
  background: var(--Gray-100, #f3f4f6);
  color: var(--Gray-400, #6b7280);
  border: none;
  z-index: 101;

  /* ButtonTitle/Bold01 */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.confirmBtn {
  display: flex;
  width: 116px;
  padding: 14px 0;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 100px;
  background: var(--Red-200, #f87171);
  color: var(--Primary-50, #eff6ff);
  border: none;
  z-index: 101;

  /* ButtonTitle/Bold01 */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* 내 제보 목록 */
.reportBox {
  display: flex;
  height: 99px;
  padding: 24px 23px 24px 21px;
  align-items: center;
  gap: 14px;
  align-self: stretch;
  border-radius: 12px;
  background: var(--White, #fff);
  margin-top: 8px;
  justify-content: space-between;
  width: 100%;
}

.reportTitle {
  color: var(--Gray-600, #1f2937);
  padding-bottom: 8px;

  /* Subtitle/semibold02 */
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 21.6px */
}

.reportSubText {
  color: var(--Gray-300, #9ca3af);

  /* Body/medium02 */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
}

/* 내 정보 수정 */
.editBox {
  display: flex;
  padding: 5px 5px 5px 16px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 15px;
  background: var(--White, #fff);
  margin-bottom: 8px;
}

.editTitle {
  color: var(--Black, #000);
  text-align: center;
  padding: 15px 0;

  /* Subtitle/semibold03 */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 17.6px */
}

.editSubText {
  margin-left: auto;
  color: var(--Gray-400, #6b7280);
  text-align: right;
  padding-right: 15px;

  /* Body/medium01 */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
}

.toast {
  position: fixed;
  display: inline-flex;
  bottom: 59px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  padding: 12px 14px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 100px;
  background: var(--Gray-300, #9ca3af);
  color: var(--White, #fff);
  animation: fadeInOut 3s ease-in-out;

  /* Subtitle/semiBold2 */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 156.25% */
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.title {
  align-self: stretch;
  color: var(--Black, #000);
  padding-bottom: 20px;

  /* Title/bold01 */
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 33.6px */
}

/* input */
.inputBox {
  margin-top: 27px;
}

.inputTitle {
  align-self: stretch;
  color: var(--Gray-600, #1f2937);

  /* Subtitle/semibold02 */
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 21.6px */
}

.inputTitle-hidden {
  opacity: 0;
}

.mypage-input {
  display: flex;
  height: 45px;
  width: 100%;
  padding: 12px 20px;
  align-items: center;
  gap: 4px;
  margin: auto;
  border-radius: 12px;
  border: 1px solid var(--Gray-200, #e5e7eb);
  background: #fff;
  color: var(--Black, #000);
  margin-top: 8px;

  /* Body/medium02 */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
}

.mypage-input::placeholder {
  color: var(--Gray-300, #9ca3af);

  /* Body/medium02 */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
}

.mypage-input:focus {
  outline: none;
}

.input-wrapper {
  position: relative;
  margin-top: 10px;
}
