@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2") format("woff2");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
}

.title-1 {
  font-family: "Pretendard";
  font-weight: 700;
  font-size: 1.5rem;
  /* 24px */
}
.title-2 {
  font-family: "Pretendard";
  font-weight: 700;
  font-size: 1.125rem;
  /* 20px */
}
.title-3 {
  font-family: "Pretendard";
  font-weight: 700;
  font-size: 1.125rem;
  /* 18px */
}

.sub-title-1 {
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 1.25rem;
  /* 20px */
}
.sub-title-2 {
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 1.125rem;
  /* 18px */
}
.sub-title-3 {
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 1rem;
  /* 16px */
}

.sub-title-4 {
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 0.875rem;
  /* 14px */
}
.sub-title-5 {
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 0.75rem;
  /* 12px */
}

.body-1 {
  font-family: "Pretendard";
  font-weight: 500;
  font-size: 1rem;
  /* 16px */
}
.body-2 {
  font-family: "Pretendard";
  font-weight: 500;
  font-size: 0.875rem;
  /* 14px */
}
.body-3 {
  font-family: "Pretendard";
  font-weight: 500;
  font-size: 0.75rem;
  /* 12px */
}

.caption {
  font-family: "Pretendard";
  font-weight: 400;
  font-size: 0.75rem;
  /* 12px */
}

.button-title {
  font-family: "Pretendard";
  font-weight: 700;
  font-size: 0.875rem;
  /* 14px */
}
